<div class="row">
  <div class="col-xs-12">
    <%= link_to 'New', new_author_path %>
  </div>
</div>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Biography</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @authors.each do |author| %>
    <tr>
      <td><%= author.name %></td>
      <td><%= truncate(author.biography, length: 150) %></td>
      <td><%= link_to 'Show', author_path(author) %></td>
      <td><%= link_to 'Edit', edit_author_path(author) %></td>
      <td><%= link_to 'Delete', author_path(author), method: :delete %></td>
    </tr>
  <% end %>
</table>
