<div class="row">
  <div class="col-xs-12">
    <%= link_to 'New', new_short_story_path %>
  </div>
</div>

<table class="table table-hover">
  <tr>
    <th>Author</th>
    <th>Title</th>
    <th>Description</th>
    <th>Content</th>
    <th>Published?</th>
    <th>Publish date</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @short_stories.each do |short_story| %>
    <tr>
      <td><%= short_story.author.present? ? link_to(short_story.author.name, author_path(short_story.author)) : 'Unknown author' %></td>
      <td><%= truncate(short_story.title, length: 35) %></td>
      <td><%= truncate(short_story.description, length: 65) %></td>
      <td><%= truncate(short_story.content, length: 65) %></td>
      <td><%= short_story.published? ? 'Yes' : 'No' %></td>
      <td><%= short_story.publish_date %></td>
      <td><%= link_to 'Show', short_story_path(short_story) %></td>
      <td><%= link_to 'Edit', edit_short_story_path(short_story) %></td>
      <td><%= link_to 'Delete', short_story_path(short_story), method: :delete %></td>
    </tr>
  <% end %>
</table>
