<h4>Author name</h4>
<div class="row">
  <div class="col-xs-12">
    <%= @short_story.author.present? ? @short_story.author.name : 'Unknown author' %>
  </div>
</div>

<h4>Title</h4>
<div class="row">
  <div class="col-xs-12">
    <%= @short_story.title %>
  </div>
</div>

<h4>Description</h4>
<div class="row">
  <div class="col-xs-12">
    <%= @short_story.description %>
  </div>
</div>

<h4>Content</h4>
<div class="row">
  <div class="col-xs-12">
    <%= @short_story.content %>
  </div>
</div>

<h4>Published?</h4>
<div class="row">
  <div class="col-xs-12">
    <%= @short_story.published? ? 'Yes' : 'No' %>
  </div>
</div>

<% if @short_story.published? %>
  <h4>Publish date</h4>
  <div class="row">
    <div class="col-xs-12">
      <%= @short_story.publish_date %>
    </div>
  </div>
<% end %>

<h4>Tags</h4>

<%= render partial: 'tags/object_tags', locals: { target_object: @short_story, helper_path: "short_stories_path" } %>
